/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
small  = 10 / 12 / 14 
normal = 16 / 18 / 20 / 24 / 30 / 
large  = 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

Primary:  #ffd966
- Tints:
90% #fffbf0
80% #fff7e0
70% #fff4d1
50% #ffecb3
20% #ffe185

- Shades: 
10% #e6c35c
20% #ccae52
50% #806d33
70% #4c411f

- Accents:
90% #fbf0ff
70% #f4d1ff
50% #ecb3ff
0% #d966ff
20% #ae52cc
30% #9847b3
50% #6d3380
80% #2b1433

- Grays:
#333
#4c4c4c
#666
#808080
#999
#aaa

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/***********************/
/* global reset        */
/***********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #4c4c4c;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 70ch;
  text-wrap: pretty;
}
/***********************/
/* reusable components */
/***********************/

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.heading-1,
.heading-2,
.heading-3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-1 {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-2 {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

.heading-3 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ccae52;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 1.1rem 0 1.1rem 0;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #ffd966;
  color: #333;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e6c35c;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fbf0ff;
  color: #333;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #f4d1ff;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  /* box-shadow: inset 0 0 0 3px #fbf0ff; */
}

.btn--form {
  background-color: #6d3380;
  color: #fffbf0;
  align-self: end;
  padding: 1.2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.btn--form:hover {
  background-color: #d966ff;
  color: #111;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item-balance,
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: start;
  gap: 1.6rem;
  line-height: 1.4;
  text-wrap: balance;
  text-align: left;
}

.list-icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  color: #ccae52;
}

.list-icon--red,
.list-icon--green {
  color: #0a0;
  background-color: rgba(0, 240, 0, 0.3);
  border-radius: 50%;
}

.list-icon--red {
  color: #a00;
  background-color: rgba(240, 0, 0, 0.3);
}

/**************/
/* helpers    */
/**************/

strong {
  font-weight: 500;
}

.list-item strong {
  font-size: 2.4rem;
  color: #ccae52;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #6d3380;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #ccae52;
}
