/* rem and em do NOT depend on html font-size in media queries! */
/* Instead, 1rem = 1em = 16px */

/***********************************/
/* BELOW 1344px (Smaller desktops) */
/***********************************/

@media (max-width: 84em) {
}

/*****************************************************/
/* BELOW 1184px (Smaller laptops, tablets landscape) */
/*****************************************************/

@media (max-width: 74em) {
  html {
    /* 9px/16px = 56.25% */
    font-size: 56.25%;
  }
  .heading-2 {
    margin-bottom: 4.8rem;
  }
  .section-hero {
    padding: 0 0 8rem 0;
  }
  .section-artekoucink {
    padding: 0 0 8rem 0;
  }
  .artekoucink {
    column-gap: 6.4rem;
    margin-bottom: 6.4rem;
  }
  .artekoucink-topics {
    column-gap: 6.4rem;
  }
  .section-services {
    padding: 0 0 8rem 0;
  }
  .services {
    gap: 6.4rem;
  }
  .section-faq {
    padding: 0 0 8rem 0;
  }
  .faqs {
    row-gap: 4.4rem;
    column-gap: 4.4rem;
  }
  .faq:has(> details[open]) {
    margin-bottom: 4.4rem;
  }
  .section-testimonials {
    padding: 0 0 8rem 0;
  }
  .testimonials {
    column-gap: 6.4rem;
  }
  .section-about-me {
    padding: 0 0 8rem 0;
  }
  .about-me-text-box {
    padding: 4.4rem 4.8rem 4.8rem 4.8rem;
  }
  .about-me-text {
    margin-bottom: 4.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 8rem;
  }
}

/*****************************************************/
/* BELOW 1072px () */
/*****************************************************/

@media (max-width: 67em) {
  html {
    /* 8px/16px = 50% */
    font-size: 50%;
  }
  .heading-1 {
    font-size: 4.4rem;
  }
  .heading-2 {
    font-size: 3.6rem;
    margin-bottom: 4.4rem;
  }
  .heading-3 {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
  }
  .section-hero {
    padding: 0 0 6.4rem 0;
  }
  .section-artekoucink {
    padding: 0 0 6.4rem 0;
  }
  .artekoucink {
    column-gap: 4.8rem;
    margin-bottom: 4.8rem;
  }
  .section-services {
    padding: 0 0 6.4rem 0;
  }
  .services {
    gap: 4.8rem;
  }
  .section-faq {
    padding: 0 0 6.4rem 0;
  }
  .section-testimonials {
    padding: 0 0 6.4rem 0;
  }
  .testimonials {
    column-gap: 4.8rem;
  }
  .section-about-me {
    padding: 0 0 6.4rem 0;
  }
}

@media (max-width: 54em) {
  html {
    /* 7px/16px = 43.75% */
    font-size: 43.75%;
  }
}

/*****************************************************/
/* BELOW 768px (tablet) */
/*****************************************************/

@media (max-width: 48em) {
  html {
    /* 7px/16px = 43.75% */
    font-size: 43.75%;
  }
}

