/****************************/
/* header                   */
/****************************/

.header {
  /* Because we want header to be sticky later */
  /* max-width: 130rem;
  margin: 0 auto; */
  position: relative;
  background-color: #fffbf0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 3.2rem;
  
  max-width: 130rem;
  margin: 0 auto;
}

.logo {
  /* 109.76/80.96 */
  height: 6.2rem;
  width: 8.4rem;
}
.logo-link:link,
.logo-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.logo-link:hover,
.logo-link:active {
  color: #ccae52;
}

/****************************/
/* navigation               */
/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  background-color: #fffbf0;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ccae52;
}

.main-nav-link.nav-current:link,
.main-nav-link.nav-current:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem 0 0.9rem 0;
  background-color: #fbf0ff;
}

.main-nav-link.nav-current:hover,
.main-nav-link.nav-current:active {
  background-color: #fffbf0;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem 0 0.9rem 0;
  background-color: #ffd966;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: #333;
  background-color: #e6c35c;
}

/****************************/
/* hero section             */
/****************************/

.section-hero {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
  border-radius: 0 4.8rem 0 4.8rem;
  overflow: hidden;
}

.hero-text-box-about,
.hero-text-box-services,
.hero-text-box {
  position: absolute;
  background-image: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-text-box-about {
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  grid-template-columns: 15fr 20fr;
}

.hero-text-box-services {
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  grid-template-columns: 20fr 15fr;
}

.hero-text-box-inner-about,
.hero-text-box-inner-services,
.hero-text-box-inner {
  padding: 4.8rem;
  text-align: center;
}

.hero-text-box-inner {
  grid-column: 2;
}

.hero-text-box-inner-about .heading-1,
.hero-text-box-inner-services .heading-1,
.hero-text-box-inner .heading-1 {
  color: #fffbf0;
}

.hero-description {
  color: #fffbf0;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/****************************/
/* artekoucink              */
/****************************/

.section-artekoucink {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.artekoucink {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
  margin-bottom: 8rem;
}

.artekoucink-topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.artekoucink-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

/****************************/
/* services                 */
/****************************/

.section-services {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.service-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0 3.2rem 0 3.2rem;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
/* .service-card .heading-3 {
  background-color: #fff7e0;
  padding: 2.4rem 1.2rem;
}

.service-card--highlight .heading-3,
.service-card--highlight {
  background-color: #fff4d1;
  font-weight: 600;
} */

.service-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.service-card-img {
  width: 100%;
  /* margin-bottom: 1.2rem; */
}

.service-card-header {
  position: relative;
}

.service-card-header-text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.service-card-header-text .heading-3 {
  color: #fffbf0;
}

.service-card:hover .service-card-header-text .heading-3 {
  color: #ffecb3;
}

.service-card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.2rem;
}

.service-card-box .btn {
  margin-top: 1.8rem;
}
/****************************/
/* faq                      */
/****************************/

.section-faq {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.faq-heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #411f4c;
  letter-spacing: -0.5px;
  text-wrap: balance;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.faqs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.faq:has(> details[open]) {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 3.2rem 0 3.2rem 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s;

  margin-bottom: 4.8rem;
}

.faq-summary,
.faq-summary:link,
.faq-summary:visited {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  text-decoration: none;
  color: #333;
  background-color: #fffbf0;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.4;
  text-wrap: pretty;
  transition: all 0.3s;
}

.faq-summary:hover,
.faq-summary:active {
  color: #ccae52;
}

details[open] .faq-summary {
  background-color: #fff;
}
.faq-detail {
  padding: 3.2rem;
}

.faq-icon-open,
.faq-icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  color: #ccae52;
}

.faq-icon-open {
  display: none;
}

details[open] .faq-icon-open {
  display: flex;
}

details[open] .faq-icon {
  display: none;
}

.faq-text {
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 1.6rem 1.6rem 1.6rem 4.8rem;
  text-wrap: pretty;
}

/****************************/
/* testimonials             */
/****************************/

.section-testimonials {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

/* .testimonial:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
} */

.testimonial {
  margin-bottom: 6.4rem;
}

.testimonial-box {
  display: grid;
  grid-template-columns: 6.4rem 1fr;
  align-items: center;
  gap: 1.6rem;
}

.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  border: 2px solid #ccae52;
  background-color: #fffbf0;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
  position: relative;
}

.testimonial-text::after,
.testimonial-text::before {
  display: inline-block;
  content: "\201c";
  font-weight: 700;
  font-size: 6.2rem;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  position: absolute;
  left: 0;
  top: 0;
  color: #ccae52;
  transform: translate(-50%, -50%);
}
.testimonial-text::after {
  content: "\201d";
  top: 100%;
  left: 100%;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #4c4c4c;
}

.testimonial-name span {
  color: #666;
  font-size: 1.4rem;
}
/****************************/
/* call-to-action           */
/****************************/

.section-cta {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  max-width: 130rem;
  margin: 0 auto;
  border-radius: 0 4.8rem 0 4.8rem;
  overflow: hidden;
  background-image: linear-gradient(to left top, #ffecb3, #ffd966);
  transition: all 0.4s;
}

.cta:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}

.cta .heading-2 {
  color: #333;
  margin-bottom: 3.2rem;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-link:link,
.cta-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.cta-link:hover,
.cta-link:active {
  color: #6d3380;
}

.cta-img-box {
  /* background-image: linear-gradient(
      to left top,
      rgba(255, 236, 179, 0.05),
      rgba(255, 217, 102, 0.35)
    ),
    url("../images/artekoucka-cta-1000.webp"); */
  background-image: url("../images/artekoucka-cta-1000.webp");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 1.1rem 0 1.1rem;
}

.cta-form input::placeholder {
  color: #aaa;
}
/****************************/
/* about-me                 */
/****************************/

.section-about-me {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}
.about-me {
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 84rem;
  margin: 0 auto;
  border-radius: 0 4.8rem 0 4.8rem;
  border: 1px solid #ccae52;
  overflow: hidden;
}

.about-me-img-box {
  /* background-image: linear-gradient(
      to left top,
      rgba(255, 236, 179, 0.05),
      rgba(255, 217, 102, 0.35)
    ),
    url("../images/artekoucka-cta-1000.webp"); */
  background-image: url("../images/artekoucka-about-1000.webp");
  background-size: cover;
  background-position: top;
}
.about-me .heading-2 {
  color: #333;
  margin-bottom: 3.2rem;
}

.about-me-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.about-me-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

/****************************/
/* page:sluzby              */
/****************************/
.section-service {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

.service-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

/************************************/
/* page:vseobecne-obchodni-podminky */
/************************************/
.section-terms {
  background-color: #fffbf0;
  padding: 0 0 9.6rem 0;
}

/****************************/
/* footer                   */
/****************************/

.footer {
  padding: 8rem 0 2.4rem;
  background-color: #fff4d1;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  gap: 9.6rem;
  padding-top: 2rem;
  border-top: 1px solid #ccae52;
}

.copyright {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.1;
  gap: 2.4rem;
}

.copyright-design {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.copyright-icon {
  /* 210/297 */
  height: 2.8rem;
  width: 2rem;
}
.copyright-icon--fresh {
  height: 1.7rem;
  /* 256/216 */
  width: 2rem;
}

.grid--footer-1,
.grid--footer-2,
.grid--footer-3,
.grid--footer-4 {
  margin-bottom: 4.8rem;
}

.grid--footer-1 {
  grid-template-columns: auto repeat(2, 1fr);
}
.grid--footer-2 {
  grid-template-columns: auto repeat(3, 1fr);
}
.grid--footer-3 {
  grid-template-columns: auto repeat(4, 1fr);
}
.grid--footer-4 {
  grid-template-columns: auto repeat(5, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 3.2rem;
  /* 109.76/80.96 */
  height: 6.2rem;
  width: 8.4rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.social-icon {
  height: 2.8rem;
  width: 2.8rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #ccae52;
}
